<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <nav class="be-red white large-padding">
        <ul class="no-list row center-xs middle-xs">
          <li class="col-md">
            <h1 class="no-margin" id="logo">IPN DESS</h1>
          </li>
          <li class="col-md">
            <%= link_to "Inicio", root_path%>
          </li>
          <li class="col-md">
            <%= link_to "Planassze", root_path%>
          </li>
          <li class="col-md">
            <%= link_to "Brissza", root_path%>
          </li>
          <li class="col-md">
            <%= link_to "Prossam", root_path%>
          </li>
          <li class="col-md">
            <%= link_to "Peraj", root_path%>
          </li>
        </ul>
      </nav>
    </header>

  <body>
    <%= yield %>
  </body>
</html>